// imports
@import 'btnCollapse.less';

// Bootstrap overrides

@dark-brown: #362f2d;
@light-gray: #F3F3F3;

@header-background: @dark-brown;
@header-color: @light-gray;

.app .hero-unit {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: @header-background;
  border: 1px solid #ddd;
  text-align: left;
  color: @header-color;
  font-size: 1.4em;
  border-radius: 0;
}

body {
}

.marketing {
  text-align: center;
  background: url('../images/map.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
}


#id { // so rare
}
.document {
  .oocss {
    .single-rule {
      
    }
  }
}