<div class="about-section usa">
			
	<h2>The United States of America</h2>
	<h4><i>Your choice: you can sit and do nothing or move to America!</i></h4>

	<div class="row-fluid about-subsection">
		
		<div class="span3 thumbnail">
			<img src="images/about_me/new_york_city.png">
		</div>

		<div class="span9">
			<h3>New York City</h3>
			<div class="row-fluid">

			<div class="span9">
				<p>That would be a long topic. I've just fallen in love with this city. It's most incredible place I've ever been to and I've ever heard about. Its history, architecture, atmosphere, variety of people, success and everything mixed in one place. It's so unfair that one city owns all these "the best" things! And this strange feeling that you fit to this place after 2 minutes being there!</p>
				<p>
					<a href="http://andruttrips.blogspot.com/2011_07_01_archive.html" class="pull-right">Read about my trip to NYC </a>
				</p>
			</div>
			</div>

		</div>

	</div>

	<div class="row-fluid about-subsection">
		
		<div class="span3 thumbnail">
			<img src="images/about_me/us_history.png">
		</div>

		<div class="span9">
			<h3>US history</h3>
			<div class="row-fluid">

			<div class="span9">
				<p>The history of the U.S. is so different than the history of any European country. But one word can describe it: impressive. Because in 17th century, it was nothing there. In 18th, the country was actually born. In 19th - it was growing in the crazy, uncontrolled speed. In 20th - it becames the biggest power in the world, beating Great Britain - their founder and "the best friend". 21th century - it's still the biggest economy, biggest army, and unbeatable in spreading its culture - American songs and movies are present in all houses in almost all the countries in the world which builds the future for this country much more effective than any wars or politics!</p>
				<p><a href="https://www.khanacademy.org" class="pull-right">Try KhanAcademy!</a></p>
			</div>
			</div>

		</div>

	</div>

	<div class="row-fluid about-subsection">
		
		<div class="span3 thumbnail">
			<img src="images/about_me/architecture.png">
		</div>

		<div class="span9">
			<h3>Architecture</h3>
			<div class="row-fluid">

			<div class="span9">
				<p>It's probably because I'm from Europe but walking among all these American buildings makes me feel better. Although they could have 80 years, they often look like brand new, they're timeless. Plus they are huge. And so simple and decorated at the same time! And I love this idea of downtown with some skyscrapers which you can see in every bigger town.</p>
				<p><a href="http://instagram.com/p/dujo6Uy-SM/" class="pull-right">We've found New York City in Wrocław!</a></p> 
			</div>
			</div>

		</div>

	</div>
