<div class="about-section world">
         
   <h2>World</h2>
   <h4><i>You can travel the whole life but even behind the corner you can find a new world.</i></h4>

   <div class="row-fluid about-subsection">
      
      <div class="span3 thumbnail">
         <img src="images/about_me/couchsurfing.png">
      </div>

      <div class="span9">
         <h3>CouchSurfing</h3>
         <div class="row-fluid">

         <div class="span9">
            <p>The organization that I love. This is how you should travel around the world - blend into the society and this is how you can get to know it!</p>
            <p>I've always had only great experiences with variety of people that were so unique!</p>
            <p class="pull-right">
               <a href="https://www.couchsurfing.org/profile.html?id=KO7VBVU">My profile</a>,
               <a href="http://www.couchsurfing.org">join today!</a>
            </p>
         </div>
         </div>

      </div>

   </div>

   <div class="row-fluid about-subsection">
      
      <div class="span3 thumbnail">
         <img src="images/about_me/places_where_ive_been_to.png">
      </div>

      <div class="span9">
         <h3>Places I've been to</h3>
         <div class="row-fluid">

         <div class="span9">
            <p>Wanna be bored? Give me GoogleMaps and let me speak. I could spend all my free times and watch the maps. </p>
            <p>Beside passive browsing the world, I love building maps like "Where I've been to", "Visited airports", "Places where I've lived over a month" etc. Yeah, you're gonna be bored.</p>
            <p><a href="https://www.google.com/maps/ms?msid=206894273719177332330.0004a7a38a1e142e14056&msa=0" class="pull-right">Places where I've been to!</a></p>

         </div>
         </div>

      </div>

   </div>

   <div class="row-fluid about-subsection">
      
      <div class="span3 thumbnail">
         <img src="images/about_me/statistics.png">
      </div>

      <div class="span9">
         <h3>Statistics</h3>
         <div class="row-fluid">

         <div class="span9">
            <p>Do you have something repeatable that could be being observed? Could we build a pattern from that? Are there any conclusions from that?</p>
            <p>No? Nevermind, I love these charts we've done anyway! :D</p>
            <p><a href="http://flightdiary.net/andrut" class="pull-right">My flights!</a></p>
         </div>
         </div>

      </div>

   </div>

   <div class="row-fluid about-subsection">
      
      <div class="span3 thumbnail">
         <img src="images/about_me/some_photos.png">
      </div>

      <div class="span9">
         <h3>Some photos</h3>
         <div class="row-fluid">

         <div class="span9">
            <p>So now, since you know that I'm such a vainglorious person, I'm gonna share some photos with you. To see a small gallery with the pictures from all over the world, click on the Eiffel Tour!</p>
            <p><a href="http://picasaweb.google.com/karol.andrusieczko" class="pull-right">Rest of them on Picasa</a></p>
         </div>
         </div>

      </div>

   </div>
