<!-- <div ng-include src="tpl('exemplaryMap')"></div> -->

<div class="row-fluid marketing">
   <div class="span8 offset2">

   <!-- <h1 style="padding-bottom: 1em">About me</h1> -->

      <div class="row-fluid ">
         <div class="span3">
            <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTssjq2lmaXqlqnRxfiCaXPrgyMZzIpm7a_h3dQYtT22Hv72DjrXQ" scrollTo=".about-section.world">
            <h3>World</h3>
         </div>
         
         <div class="span3">
            <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://lh5.googleusercontent.com/-gAdYyDLZHbY/TkION0Umf9I/AAAAAAAAFbU/meopi8FkpFE/w600-h800-no/SDC15281.JPG" scrollTo=".about-section.usa">
            <h3>USA</h3>
         </div>

         <div class="span3">
            <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://www.chinatownconnection.com/images/beauty.gif" scrollTo=".about-section.languages">
            <h3>Languages</h3>
         </div>

         <div class="span3">
            <a href="http://www.malymi-krokami.pl" target="_malym i_krokami"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1/1450208_228634493969902_1533859130_n.png"></a><h3>Travel blog</h3>
         </div>
      </div>

      <div ng-include src="tpl('aboutMe/aboutMeWorld')"></div>
      <div ng-include src="tpl('aboutMe/aboutMeUsa')"></div>
      <div ng-include src="tpl('aboutMe/aboutMeLanguages')"></div>

      <div ng-include src="tpl('aboutMe/contact')"></div>

   </div>
</div>