<div class="about-section contact">

<h3>Contact</h3>

<div class="row-fluid">
   <div class="span8 offset2">
      <div class="row-fluid">
         <div class="span3">
            <a href="https://github.com/andrusieczko"><i class="icon-large icon-github"></i> Github</a>
         </div>
         <div class="span3">
            <a href="http://www.linkedin.com/profile/view?id=215113529"><i class="icon-large icon-linkedin"></i> LinkedIn</a>
         </div>
         <div class="span3">
            <a href="https://plus.google.com/114972396316968051523"><i class="icon-large icon-google-plus"></i> Google Plus</a>
         </div>
         <div class="span3">
            <a href="https://www.couchsurfing.org/people/andrut"><i class="icon-couchsurfing icon-large"></i> CouchSurfing</a>
         </div>
      </div>
   </div>
</div>