<div class="about-section contact">

<h3>Contact</h3>

<div class="row-fluid">
   <div class="span10 offset1">
      <div class="row-fluid">
         <div class="span2">
            <a href="https://github.com/andrusieczko"><i class="icon-large fa fa-github"></i> Github</a>
         </div>
         <div class="span2">
            <a href="http://www.linkedin.com/profile/view?id=215113529"><i class="icon-large fa fa-linkedin"></i> LinkedIn</a>
         </div>
         <div class="span2">
            <a href="https://plus.google.com/114972396316968051523"><i class="icon-large fa fa-google-plus"></i> Google Plus</a>
         </div>
         <div class="span2">
            <a href="https://www.couchsurfing.org/people/andrut"><i class="icon-couchsurfing icon-large"></i> CouchSurfing</a>
         </div>
         <div class="span2">
            <a href="http://stackoverflow.com/users/3311093/andrusieczko"><i class="fa fa-stack-overflow icon-large"></i> StackOverflow</a>
         </div>
         <div class="span2">
            <a href="https://twitter.com/andrusieczko"><i class="fa fa-twitter icon-large"></i> Twitter</a>
         </div>
      </div>
   </div>
</div>