<!-- <div ng-include src="tpl('exemplaryMap')"></div> -->

<div class="row-fluid marketing">
   <div class="span8 offset2">

   <h1 style="padding-bottom: 1em">About me</h1>

      <div class="row-fluid ">
         <div class="span4">
            <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTK1q2-_uCvzcFcTIr39fRoy6KqRJIpbTkCXpIK7xGy1_8uWDs1" ng-click="scrollToWorld()">
            <h3>World</h3>
         </div>
         
         <div class="span4">
            <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://lh5.googleusercontent.com/-gAdYyDLZHbY/TkION0Umf9I/AAAAAAAAFbU/meopi8FkpFE/w600-h800-no/SDC15281.JPG" ng-click="scrollToUsa()">
            <h3>USA</h3>
         </div>

         <div class="span4">
            <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://www.chinatownconnection.com/images/beauty.gif" ng-click="scrollToLanguages()">
            <h3>Languages</h3>
         </div>
      </div>

      <div ng-include src="tpl('aboutMe/aboutMeWorld')"></div>
      <div ng-include src="tpl('aboutMe/aboutMeUsa')"></div>
      <div ng-include src="tpl('aboutMe/aboutMeLanguages')"></div>

   </div>
</div>