<div class="row-fluid">
  <div class="span10 offset1">

    <div class="btn-collapse-group">

      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="js=!js">JavaScript</a>
        <div class="box" ng-show="js" ng-animate="'box'">
          <span>Experienced with:</span>
          <ul>
            <li>backbone.js (professional experience)</li>
            <li>angular.js (some small projects)</li>
            <li>Ember.js (professional - everyday work)</li>
            <li>node.js</li>
            <li>testing: mocha/jasmine, QUnit</li>
            <li>vast number of libraries</li>
            <li>parts of ES2015</li>
          </ul>
        </div>
      </div>
    
      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="css=!css">Clojure <i class="icon-css3"></i></a>
        <div class="box" ng-show="css" ng-animate="'box'">
          <p>Working on a web API using Cassandra, ElasticSearch and PostreSQL. Used i.a.:</p>
          <ul>
            <li>ring/immutant</li>
            <li>liberator+compojure</li>
            <li>cassaforte, elastisch, sqlkorma</li>
            <li>clojure.test</li>
            <li>kibit, bikeshed, eastwood, lein-cloverage</li>
            <li>codox</li>
          </ul>
          <p>Functional programming is wonderful!</p>
        </div>
      </div>

      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="html=!html">HTML5 / CSS3<i class="icon-html5"></i></a>
        <div class="box" ng-show="html" ng-animate="'box'">
          <p>My everyday work requires me to have a deep knowledge about these technologies.</p>
          <p>I'm used to use LESS, I used to use several templating engines including handlebars (and dialects of it), 
            Jade, django templates, underscore templates.</p>
          <p>Using different frameworks (backbone, angular, ember) showed me different ways to how approach HTML code.</p>
        </div>
      </div>

    </div>

    <div class="btn-collapse-group">

      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="java=!java">Java</a>
        <div class="box" ng-show="java" ng-animate="'box'">
          <p>I've worked in Java for 2.5 years. I used to work in a very ambitious project for 2 years, then writing selenium-based functional tests framework. Java for me is a place where I can forget for a while about the crazy world of JavaScript and write something really logical and with a sophisticated architecture :)</p>
          <p>I maintain a legacy Java project in the current position.</p>
        </div>
      </div>
    
      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="python=!python">Python</a>
        <div class="box" ng-show="python" ng-animate="'box'"><p>Sometimes I'm writing something in Python just for fun. I've created several websites based on Django. The language itself is amazing, I especially like the functional programming and all these easy operations on lists/structures.</p>
        <p>I've built a load testing tool for high-frequency, low-latency app (~10,000 requests/sec) using locust.io.</p></div>
      </div>


      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="php=!php">Tooling/Other</a>
        <div class="box" ng-show="php" ng-animate="'box'">
          <p>I love to learn and learn fast. I'm very unhappy when I'm not learning.</p>
          <p>All the core projects I'm working on are fully-tested. I'm working with feature branches and continuous deployment.</p>
          <ul>
            <li>Jenkins/Bamboo/travis-ci</li>
            <li>GitHub/Stash</li>
            <li>Linux, OSX, Windows</li>
            <li>basics of DevOps (ansible, HAProxy, AWS EC2)</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="btn-collapse-group">

      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="favlang=!favlang">Favourite language</a>
        <div class="box" ng-show="favlang" ng-animate="'box'">
          My dream would be to have a language which:
          <ul>
            <li>as beautifully designed as LISP</li>
            <li>gives such a convinience in programming as Java</li>
            <li>has LinQ like in C#</li>
            <li>has community like Python or JavaScript</li>
            <li>gives as much fun as JavaScript/Clojure does</li>
          </ul>
        </div>
      </div>

      <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="organizational=!organizational">Organizational</a>
        <div class="box" ng-show="organizational" ng-animate="'box'">
          I used to coordinate quite big projects. I love talking to people much more than programming. I can't image my work without communication with others. One of my main personal goals in my previous job was to convince people that all the stakeholders and programmers are one team, they should work together. It would be awesome if they could go for beer together!
        </div>
      </div>

       <div class="btn-collapse">
        <a class="btn btn-gray" ng-click="team=!team">Team</a>
        <div class="box" ng-show="team" ng-animate="'box'">
          <p>I'm lucky to work with amazing teams! We're all trying to learn from each other, we're trying to be better each day. We're all searching for the best solutions in StackOverflow, we all love to go for several beers.</p>
          <p>Why did I put it here? Because I don't imagine the work without a great integration with a team. Team work is often more important than particular individual's skills.</p>
        </div>
      </div>


    </div>

  </div>
</div>
